<div class="cart">
  {{#each products}}
    <div class="cart-container">
      <div class="cart-image">
        <img src="./images/product-images/{{this.productid}}.jpg" />
      </div>
      <div class="cart-content">
        <h1>
          {{this.name}}
        </h1>
        <p>
          {{this.category}}
        </p>
        <p>
          {{this.description}}
        </p>
        <p>
         Rs. {{this.price}}
        </p>
        <div class="btn-section">
          <a href="/admin/edit-product/{{this.productid}}">
            <button>
              Edit
            </button>
          </a>
          <a href="/admin/delete-product/{{this.productid}}">
            <button
              onclick="return confirm('Do You Want to Delete {{this.name}}?')"
              class="delete-btn"
            >
              Delete
            </button>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>