<div class="menu-container" id="menu">
  <span onclick="toggleMenu()">&times;</span>
  {{#if user}}
  <a href="#">
    Hi, {{user.name}}
  </a>
  <a href="#">
    My Orders
  </a>
  {{else}}
  <a href="/login" class="notification"><span>Login</span></a>
  {{/if}}
</div>
<header>
  <div class="navbar">
    <a href="/" class="logo">
      Shopping Cart
    </a>
    <div>
      <div class="nav-links">
        <a href="/">All Products</a>
        {{#if user}}
        <a href="#">
          My Orders
        </a>
        <a href="#">
          Hi, {{user.name}}
        </a>
        {{else}}
        <a href="/login" class="notification">
          <span>Login</span>
        </a>
        {{/if}}
      </div>
      {{#if count}}
      <a href="/cart" class="notification">
        <span>Cart</span>
        <span class="badge" id="cartCount">{{count}}</span>
      </a>
      {{else}}
      <a href="/cart" class="notification">
        <span>Cart</span>
        <span class="badge" id="cartCount">0</span>
      </a>
      {{/if}}
      {{#if user}}
      <div class="menu">
        <i class="fas fa-bars" onclick="toggleMenu()"></i>
      </div>
      {{else}}
      <div class="menu">
        <a href="/login" class="notification">
          <span>Login</span>
        </a>
      </div>
      {{/if}}
    </div>
  </div>
</header>