{{#if product}}
<div class="order-container">
    {{#each product}}
    <div class="my-orders">
        <div class="image-container">
            <img src="./images/product-images/{{this.variant}}" alt="">
        </div>
        <div class="order-details">
            <h1>Order Details</h1>
            <p>Order ID: {{this.orderID}}</p>
            <p>{{this.name}}</p>
            <p>{{this.category}}</p>
            <p>{{this.brand}}</p>
            <p>Quantity: {{this.quantity}}</p>
            <p>Rs. {{this.price}}</p>
            <p>Total: {{this.total}}</p>
        </div>
        <div class="order-status">
            <h1>Order Status</h1>
            <p>Ordered Date: {{this.orderdate}}</p>
            <p>Payment Method: {{this.payment}}</p>
            <p>Current Status: {{this.status}}</p>
            {{!-- {{#if this.paid}} --}}
            <button onclick="payOnline('{{this.orderID}}',{{this.total}},'{{this.payment}}')">Pay Online</button>
            {{!-- {{/if}} --}}
            <button>Cancel Order</button>
        </div>
        <div class="delivery-details">
            <h1>Delivery Details</h1>
            <p>Delivery Date: {{this.deliverydate}}</p>
            <p>Adresss: {{this.deliveryaddress}}</p>
            <p>Pin Code / Zip Code: {{this.pincode}}</p>
            <p>Mobile No: {{this.deliverymobileno}}</p>
        </div>
    </div>
    {{/each}}
</div>
<div class="checkout">
    <div>
        <h3>Total Amuont</h3>
        <h3>Rs. <span id="total">{{total}}</span></h3>
    </div>
</div>
{{else}}
<div class="empty">
    <h1>
        You Have No Orders Placed
    </h1>
</div>
{{/if}}