<div class="container">
  {{#each products}}
  <div class="card-container">
    <div class="card-content">
      <h1 data-aos="fade-left">
        {{this.name}}
      </h1>
      <p data-aos="fade-right">
        Rs.
        {{this.price}}
      </p>
      <p data-aos="fade-down">
        {{this.category}}
      </p>
      <button onclick="addToCart('{{this.productid}}','{{user}}')" data-aos="zoom-in-up">
        Add to Cart
      </button>
      <div class="variants" data-aos="fade-down">
        <img onclick="changeImage('{{this.image1}}','{{this.productid}}')"
          src="./images/product-images/{{this.image1}}{{this.productid}}.jpg" alt="{{this.iamge}} image 1">
        <img onclick="changeImage('{{this.image2}}','{{this.productid}}')"
          src="./images/product-images/{{this.image2}}{{this.productid}}.jpg" alt="{{this.iamge}} image 2">
        <img onclick="changeImage('{{this.image3}}','{{this.productid}}')"
          src="./images/product-images/{{this.image3}}{{this.productid}}.jpg" alt="{{this.iamge}} image 3">
      </div>
    </div>
    <div class="img-container" data-aos="fade-up">
      <img id="{{this.productid}}" src="./images/product-images/{{this.image1}}{{this.productid}}.jpg"
        alt="{{this.iamge}} image" />
    </div>
  </div>
  {{/each}}
</div>