<div class="container">
  {{#each products}}
    <div class="card-container">
      <div class="img-container">
        <img src="./images/product-images/{{this.productid}}.jpg" alt="" />
      </div>
      <div class="card-content">
        <h1 class="name">
          {{this.name}}
        </h1>
        <h2 class="category">
          {{this.category}}
        </h2>
        <p class="description">
          {{this.description}}
        </p>
        <p class="price">
          {{this.price}}
          /-
        </p>
        <a href="/add-to-cart/{{this.productid}}">
          <button>
            Add to Cart
          </button>
        </a>
      </div>
    </div>
  {{/each}}
</div>