{{#if products}}
<div class="container">
  {{#each products}}
  <div class="card-container">
    <div class="card-content">
      <h1 data-aos="fade-left">
        {{this.name}}
      </h1>
      <p data-aos="fade-up">
        {{this.brand}}
      </p>
      <p data-aos="fade-right">
        {{this.category}}
      </p>
      <p data-aos="fade-down">
        Rs.
        {{this.price}}
      </p>
      <button onclick="addToCart('{{this.productid}}','{{this.name}}')" data-aos="zoom-in-up">
        Add to Cart
      </button>
      <div class="variants">
        <img onclick="changeImage('{{this.image1}}','{{this.productid}}')"
          src="./images/product-images/{{this.image1}}{{this.productid}}.jpg" data-aos="fade-down">
        <img onclick="changeImage('{{this.image2}}','{{this.productid}}')"
          src="./images/product-images/{{this.image2}}{{this.productid}}.jpg" data-aos="fade-down" data-aos-delay="250">
        <img onclick="changeImage('{{this.image3}}','{{this.productid}}')"
          src="./images/product-images/{{this.image3}}{{this.productid}}.jpg" data-aos="fade-down" data-aos-delay="500">
      </div>
    </div>
    <div class="img-container" data-aos="fade-up">
      <img id="{{this.productid}}" src="./images/product-images/{{this.image1}}{{this.productid}}.jpg" />
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="empty">
    <h1>
        No Products Found
    </h1>
</div>
{{/if}}